In [1]:
from utils import *
from constants import *

In [2]:
encode_features()

In [3]:
conn = sqlite3.connect(DB_PATH+DB_FILE_NAME)
features_df = pd.read_sql("SELECT * FROM features", conn)
conn.close()
print(features_df.shape)
features_df.head()

(4559, 12)

,index,city_tier,first_platform_c_,first_utm_medium_c_,first_utm_source_c_,total_leads_droppped,referred_lead,assistance_interaction,career_interaction,payment_interaction,social_interaction,syllabus_interaction
0,0,1.0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1.0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1.0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,1.0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1.0,0,0,0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [4]:
conn = sqlite3.connect(DB_PATH+DB_FILE_NAME)
target_df = pd.read_sql("SELECT * FROM target", conn)
conn.close()
print(target_df.shape)
target_df.head()

(4559, 2)

   index  app_complete_flag
0      0                  0
1      1                  1
2      2                  0
3      3                  1
4      4                  0

In [5]:
get_trained_model()